# Variable

### Create a variable named carname and assign the value Volvo to it.

In [1]:
carname = "Volvo"

### Create a variable named x and assign the value 50 to it.

In [ ]:
x=50

### Display the sum of 5 + 10, using two variables: x and y.

In [2]:
x=5
y=10

sum = x + y

print("The value of 5 + 10 is:", sum)

The value of 5 + 10 is: 15

### Create a variable called z, assign x + y to it, and display the result.

In [3]:
x=5
y=10

z = x + y

print("The value of 5 + 10 is:", z)

The value of 5 + 10 is: 15

### Remove the illegal characters in the variable name:

In [5]:
illegal_chars = "0123456789!@#$%^&*()-+=[]{}|\\;:'\",.<>/?`~ "


userinput = input("Enter a variable name: ")

cleanedname= ""

for char in userinput:
    if char not in illegal_chars:
        cleanedname += char
    else:
        cleanedname += ''
        
print("Cleaned variable name:", cleanedname)

Enter a variable name: sljfei773%#f
Cleaned variable name: sljfeif

### Insert the correct syntax to assign the same value to all three variables in one code line.

In [ ]:
variable1 = variable2 = variable3 = 5

### The following code example would print the data type of x, what data type would that be?

In [6]:
x = 42  
print(type(x))

<class 'int'>

### The following code example would print the data type of x, what data type would that be?

In [7]:
x = 'sddfs'  
print(type(x))

<class 'str'>

### The following code example would print the data type of x, what data type would that be?

In [8]:
x=[1,2,3]
print(type(x))

<class 'list'>

### The following code example would print the data type of x, what data type would that be?

In [10]:
x=(1,2,3)
print(type(x))

<class 'tuple'>

### The following code example would print the data type of x, what data type would that be?

In [11]:
x={3,4,5}
print(type(x))

<class 'set'>

### The following code example would print the data type of x, what data type would that be?

In [13]:
x=123.4
print(type(x))

<class 'float'>

### The following code example would print the data type of x, what data type would that be?

In [22]:
x='''fgdfdgdf'''
print(type(x))

<class 'str'>

### Insert the correct syntax to convert x into a floating point number.

In [28]:
x = 3 
x = float(x) 
print(x)

3.0

### Insert the correct syntax to convert x into a integer.

In [27]:
x =3.414 
x = int(x) 
print(x)

3

### Use the len method to print the length of the string.

In [30]:
string = "Hello World!"
length = len(string)
print("Length of the string:", length)

Length of the string: 12

### Get the first character of the string txt.

In [32]:
string = "Hello World!"

first_character = string[0]

### Get the characters from index 2 to index 4 (llo).

In [41]:
string = "Hello World!"

characters = string[2:5:1]
print(characters)

llo

### Return the string without any whitespace at the beginning or the end.

In [42]:
string = "   Hello, World!   "
clean = string.strip()
print(clean)

Hello, World!

### Convert the value of txt to upper case.

In [26]:
txt=upper(txt)

### Convert the value of txt to lower case.

In [27]:
txt=lower(txt)

### Replace the character H with a J.

In [43]:
txt = "Hello, World!"
modified_txt = txt.replace("H", "J")
print(modified_txt)

Jello, World!

### Using format function to print the age

In [44]:
age = 30
print("My age is {} years.".format(age))

My age is 30 years.

### The statement below would print a Boolean value, which one?

### Multiply 10 with 5, and print the result.

In [ ]:
x=10*5
print(x)

### Divide 10 by 2, and print the result.

In [ ]:
x=10/2
print(x)

### Create a list and check if the value in this list or not

In [45]:
my_list = [10, 20, 30, 40, 50]

value_to_check = 30

if value_to_check in my_list:
    print("The value", value_to_check, "is present in the list.")
else:
    print("The value", value_to_check, "is not present in the list.")

The value 30 is present in the list.

### Use the correct comparison operator to check if 5 is not equal to 10.

In [47]:
 if 5 != 10:
    print("5 is not equal to 10.")
else:
    print("5 is equal to 10.")

5 is not equal to 10.

### Use the correct logical operator to check if at least one of two statements is True.

In [48]:
statement1 = False
statement2 = True

if statement1 or statement2:
    print("At least one statement is True.")
else:
    print("Both statements are False.")

At least one statement is True.

### Print the second item in the fruits list.

In [1]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

print(fruits[1])

banana

### Change the value from "apple" to "kiwi", in the fruits list.

In [2]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

fruits[0] = "kiwi"

print(fruits)

['kiwi', 'banana', 'cherry', 'date', 'elderberry']

###  Use the append method to add "orange" to the fruits list.

In [3]:
fruits.append("orange")

print(fruits)

['kiwi', 'banana', 'cherry', 'date', 'elderberry', 'orange']

### Use the insert method to add "lemon" as the second item in the fruits list.

In [5]:
fruits[1]="lemon"

print (fruits)

['kiwi', 'lemon', 'cherry', 'date', 'elderberry', 'orange']

### Use the remove method to remove "banana" from the fruits list.

In [8]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

fruits.remove("banana")

print(fruits)

['apple', 'cherry', 'date', 'elderberry']

### Use negative indexing to print the last item in the list.

In [9]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

print(fruits[-1])

elderberry

### Use a range of indexes to print the third, fourth, and fifth item in the list.

In [20]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

print (fruits[2:5])

['cherry', 'date', 'elderberry']

### Use the correct syntax to print the number of items in the list.

In [11]:
print (len(fruits))

5

### Use the correct syntax to print the first item in the fruits tuple.

In [12]:
fruits = tuple(fruits)
print(fruits [0])

apple

### Use the correct syntax to print the number of items in the fruits tuple.

In [13]:
print (len(fruits))

5

### Use the add method to add "orange" to the fruits set.

In [23]:
fruits = {"apple", "banana", "cherry", "date", "elderberry"}

fruits.add("orange")

print(fruits)

{'cherry', 'orange', 'apple', 'date', 'banana', 'elderberry'}

### Use the correct method to add multiple items (more_fruits) to the fruits set.

In [24]:
fruits = {"apple", "banana", "cherry", "date", "elderberry"}
more_fruits = ["orange", "grape", "kiwi"]

fruits.update(more_fruits)

print(fruits)

{'kiwi', 'cherry', 'orange', 'grape', 'apple', 'date', 'banana', 'elderberry'}

### Use the remove method to remove "banana" from the fruits set.

In [26]:
fruits = {"apple", "banana", "cherry", "date", "elderberry"}

fruits.remove("banana")

print(fruits)

{'cherry', 'apple', 'date', 'elderberry'}

### Use the get method to print the value of the "model" key of the car dictionary.

In [28]:
car = {"brand": "Toyota", "model": "Camry", "year": 1964}

modelvalue = car.get("model")

print("The model of the car is:", modelvalue)

The model of the car is: Camry

### Change the "year" value from 1964 to 2020.

In [29]:
car = {"brand": "Toyota", "model": "Camry", "year": 1964}

car["year"] = 2020

print(car)

{'brand': 'Toyota', 'model': 'Camry', 'year': 2020}

### Add the key/value pair "color" : "red" to the car dictionary.

In [30]:
car = {"brand": "Toyota", "model": "Camry", "year": 2020}

car["color"] = "red"

print(car)

{'brand': 'Toyota', 'model': 'Camry', 'year': 2020, 'color': 'red'}

### Use the pop method to remove "model" from the car dictionary.

In [34]:
car = {"brand": "Toyota", "model": "Camry", "year": 2020}

car.pop("model")

print(car)

{'brand': 'Toyota', 'year': 2020}

### Use the clear method to empty the car dictionary.

In [35]:
car = {"brand": "Toyota", "model": "Camry", "year": 2020}

car.clear()

print(car)

{}

### Print "1" if a is equal to b, print "2" if a is greater than b, otherwise print "3".

In [3]:
a=1
b=2
if a==b:
    print (1)
elif a>b:
    print (2)
else: 
    print (3)

3

### This example misses indentations to be correct.

Insert the missing indentation to make the code correct:

### Use the correct short hand syntax to write the following conditional expression in one line:

### Print i as long as i is less than 6.

In [4]:
   i = 0

while i < 6:
    print(i)
    i += 1

0
1
2
3
4
5

### Stop the loop if i is 3.

In [5]:
i = 0

while i < 6:
    print(i)
    i += 1
    if i==3:
        break

0
1
2

### In the loop, when i is 3, jump directly to the next iteration.

In [10]:
i = 0

while i < 6:
    print(i)
    i += 1
    if i == 3:
        i += 1
        continue

0
1
2
4
5

### Print a message once the condition is false.

In [11]:
i = 0

while i < 6:
    if i == 3:
        i += 1
        continue

    print(i)
    i += 1
else:
    print("The loop has ended.")

0
1
2
4
5
The loop has ended.

### In the loop, when the item value is "banana", jump directly to the next item.

In [12]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

for fruit in fruits:
    if fruit == "banana":
        continue

    print(fruit)

apple
cherry
date
elderberry

### Use the range function to loop through a code set 6 times.

In [16]:
for i in range(6):
    print("loop", i)

loop 0
loop 1
loop 2
loop 3
loop 4
loop 5

### Exit the loop when x is "banana".

In [14]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

for x in fruits:
    if x == "banana":
        break

    print(x)

apple

### Create a function named my_function.

In [18]:
def my_function():
    
    print("This is my function!")

### Execute a function named my_function.

In [19]:
my_function()

This is my function!

### Inside a function with two parameters, print the first parameter.

In [23]:
def print_first_parameter(a, b):
    print("First parameter:", a)

print_first_parameter("Hello", "World")

First parameter: Hello

### Let the function return the x parameter + 5.

In [26]:
def add_five_to_param(a):
    result = a + 5
    return result

result_value = add_five_to_param(10)
print("Result:", result_value)

Result: 15

### If you do not know the number of arguments that will be passed into your function, there is a prefix you can add in the function definition, which prefix?

In [27]:
def my_function(*args):
    for arg in args:
        print(arg)

my_function("apple", "banana", "cherry")

apple
banana
cherry

### If you do not know the number of keyword arguments that will be passed into your function, there is a prefix you can add in the function definition, which prefix?

In [29]:
def my_function(**y):
    for key, value in y.items():
        print(key, ":", value)


my_function(name="Yara", age=21, city="Tokyo")

name : Yara
age : 21
city : Tokyo

### Create a lambda function that takes one parameter (a) and returns it.

In [30]:
return_a = lambda a: a

result = return_a(42)
print(result)

42

### Implement a function to find all prime numbers up to a given number n. Assume n is a positive integer.

In [33]:
def find_primes_up_to_n(n):
    
    primes = [True] * (n + 1)
    primes[0] = primes[1] = False  

    
    p = 2
    while p * p <= n:
        if primes[p]:
            for i in range(p * p, n + 1, p):
                primes[i] = False
        p += 1

  
    prime_numbers = [num for num in range(n + 1) if primes[num]]
    return prime_numbers

n = 30
prime_numbers = find_primes_up_to_n(n)
print("Prime numbers up to", n, "are:", prime_numbers)

Prime numbers up to 30 are: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

###  Implement a generator function to generate the Fibonacci sequence up to a given n terms.

In [36]:
def fibonacci_generator(n):
    a, b = 0, 1
    count = 0

    while count < n:
        yield a
        a, b = b, a + b
        count += 1

n_terms = int(input("Enter the number of terms for the Fibonacci sequence: "))
fibonacci_sequence = list(fibonacci_generator(n_terms))
print("Fibonacci sequence up to", n_terms, "terms:", fibonacci_sequence)

Enter the number of terms for the Fibonacci sequence: 10
Fibonacci sequence up to 10 terms: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### Write a function to compute the power of a number x raised to the power n using recursion.

In [39]:
def power(x, n):
    if n == 0:
        return 1
    elif n < 0:
        return 1 / power(x, -n)
    else:
        return x * power(x, n - 1)

x = 2
n = 5
result = power(x, n)
print(f"{x} raised to the power {n} is:", result)

2 raised to the power 5 is: 32